/* ---------------------- */
/* ------- BANNER ------- */
/* ---------------------- */

section.banner{
    position: relative;
    width: 100%;
    padding: 0 7dvw;
    background: #012244CC;
}
section.banner:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-image: url('/images/events-banner.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
section.banner h1{
    margin:0;
    padding:69px 0 14px 0;
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 800;
    color:#FFFFFF;
    font-family: var(--font-sarabun);
}
section.banner h2{
    margin:0;
    padding:0 0 80px 0;
    font-size: 1.5rem;
    font-weight: 400;
    color:#FFFFFF;
    font-family: var(--font-sarabun);
}


  /* MOBILE */
  @media only screen and (max-width: 800px) {
    section.banner{
        padding: 3rem;
    }
    section.banner h1{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 0;
    }
    section.banner h2{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0 0 0;
    }
    section.banner h2 br{
        display: none;
    }
  }