/* ------------------------ */
/* ------- COMMENTS ------- */
/* ------------------------ */

section.comments{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
section.comments h2{
    width: 100%;
    margin: 0;
    padding: var(--site-space);
    font-size: 2.5rem;
    background-color: #FFFFFF;
    text-align: center;
}
section.comments div.comments-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: var(--site-space);
    background-color: #E4F1FF;
}
section.comments div.comments-container h4{
    width:100%;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding:0;
    font-size: 1.5rem;
}
section.comments div.background-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 184px;
    background-image: url('/images/comments/background-messages.png');
    background-size: cover;
    z-index: 0;
}


/* MOBILE */
@media only screen and (max-width: 800px) {
    section.comments h2{
        font-size: 1.125rem;
    }
    section.comments div.comments-container{
        padding: 1rem 3rem;
    }
    section.comments div.comments-container h4{
        font-size: 1rem;
    }
}